.contenedor {
	max-width: 120rem;
	margin: 0 auto;
}
.mejores-productos {
  display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}
.contenedor-opciones {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}
.titulo-seccion-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}
.titulo-seccion-2 {
	text-align: center;
	font-weight: 500;
	font-size: 2.5rem;
  	margin-bottom: 25px;
	color: var(--titulo-color);;
}
.contenedor-opciones span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}
.contenedor-opciones span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.contenedor-opciones span.active {
	background-color: var(--primary-color);
	color: #fff;
}
.contenedor-productos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 3rem;
}
.card-producto  {
  	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.contenedor-imagen  {
  position: relative;
}
.contenedor-imagen img  {
  width: 100%;
}
.contenedor-imagen .descuento {
	position: absolute;
	left: 0;
	background-color: var(--descuento-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-producto :hover .descuento {
	background-color: #000;
}
.grupo-botones  {
  display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.grupo-botones  {
  display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}
.grupo-botones span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.grupo-botones span:hover {
	background-color: var(--primary-color);
}

.grupo-botones span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.grupo-botones span:hover i {
	color: #fff;
}

.card-producto:hover .grupo-botones {
	z-index: 0;
	right: -1rem;
}
.contenedor-card-producto {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.estrellas {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.estrellas i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.contenedor-card-producto h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.contenedor-card-producto h3:hover {
	color: var(--primary-color);
}

.agregar-producto {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.agregar-producto:hover {
	background-color: var(--primary-color);
}

.agregar-producto i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.agregar-producto:hover i {
	color: #fff;
}
.contenedor-card-producto .precio {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.contenedor-card-producto .precio span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}
.content {
  display: none;
}

.content.active {
  display: grid;
}

@media (max-width: 720px) {
	.contenedor-opciones {
		display: contents;
	}
}